<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Options</string>
			<key>id</key>
			<string>GMOptionsGroup</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>label</key>
			<string>Enabled</string>
			<key>key</key>
			<string>enabled</string>
			<key>default</key>
			<true/>
			<key>PostNotification</key>
			<string>net.tateu.gmailer/preferences</string>
			<key>defaults</key>
			<string>net.tateu.gmailer</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>label</key>
			<string>New Email Only</string>
			<key>key</key>
			<string>newEmailOnly</string>
			<key>default</key>
			<false/>
			<key>PostNotification</key>
			<string>net.tateu.gmailer/preferences</string>
			<key>defaults</key>
			<string>net.tateu.gmailer</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>label</key>
			<string>Inbox Only</string>
			<key>key</key>
			<string>inboxOnly</string>
			<key>default</key>
			<true/>
			<key>PostNotification</key>
			<string>net.tateu.gmailer/preferences</string>
			<key>defaults</key>
			<string>net.tateu.gmailer</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>label</key>
			<string>Always Fetch All Tracked Accounts*</string>
			<key>key</key>
			<string>alwaysFetchAll</string>
			<key>default</key>
			<false/>
			<key>PostNotification</key>
			<string>net.tateu.gmailer/preferences</string>
			<key>defaults</key>
			<string>net.tateu.gmailer</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>label</key>
			<string>Auto Fetch on Restart</string>
			<key>key</key>
			<string>fetchOnRestart</string>
			<key>default</key>
			<true/>
			<key>PostNotification</key>
			<string>net.tateu.gmailer/preferences</string>
			<key>defaults</key>
			<string>net.tateu.gmailer</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>label</key>
			<string>Gmail App Notification Fix**</string>
			<key>key</key>
			<string>blockGmail</string>
			<key>default</key>
			<false/>
			<key>PostNotification</key>
			<string>net.tateu.gmailer/preferences</string>
			<key>defaults</key>
			<string>net.tateu.gmailer</string>
		</dict>
		<!--<dict>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>label</key>
			<string>Relink Email Accounts</string>
			<key>action</key>
			<string>relinkEmailAccounts</string>
		</dict>-->
	</array>
	<key>title</key>
	<string>Gmailer</string>
</dict>
</plist>
